# Скопируй в .env и заполни. .env в git не попадает, этот файл — попадает.
# Почтовые ключи добавляются в блоке 5 (отправка), когда будет известна версия Django.

SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
